* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: calibri, sans-serif;
    background-color: hsl(0, 0%, 96%);
    color: hsl(0, 0%, 20%);
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}
h1 {
    font-size: 48px;
    color: hsl(220, 70%, 40%);
    margin-bottom: 15px;
}

h2 {
    font-size: 28px;
    color: hsl(220, 70%, 40%);
    margin-bottom: 15px;
    margin-top: 40px;
}
p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 10px;
}

a {
    color: hsl(220, 70%, 40%);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.project {
    background-color: hasl(0, 0%, 100%);
    padding: 20px;
    margin-bottom: 20px
    bottom-radius: 8px;
    border-left: 4px solid hsl(220, 70%, 40%);
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

li {
    background-color: hsl(220, 70%, 40%);
    color: hasl(0, 0%, 100%);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
}