<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yusuf micheal | Python Developer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Yusuf micheal</h1>
        <p>python developer | flask | building smart solution for stuents and job seekers</p>
        <section id="about">
            <h2>About me</h2>
            <p>i'm a python developer and a mass comunication student at kwara state university. i build desktop and web applications using Python, PyQt5, and Flask. i'm working towards building a platform that connects students and job seekers to opportunities.</p>
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <div class="project">
                <h3>PyQt5 desktop calculator</h3>
                <p>A desktop Calculator built with python and PyQt5.</p>
                <a href="https://github.com/yusuf-o520/PythonProjects1"></a>
            </div>
        </section>

        <section id="skills">
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>PyQt5</li>
                <li>git and Github</li>
                <li>HTML & css</li>
            </ul>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <P>connect with me on <a href="https://www.linkedin.com/in/yusuf-micheal">Linkedin</a></P>
            <p>Check my work on <a href="https://github.com/yusuf-0520">Github</a></p>
        </section>
    </div>
</body>
</html>